name: publish
on:
  push:
    branches:
      - main
jobs:
  run:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '22'
          registry-url: 'https://registry.npmjs.org'
          always-auth: true
      
      - run: npm ci
      - run: npm run coverage
      - run: npm run lint
      - name: Fix README for NPM
        run: sed -i '/#gh-dark-mode-only/d' README.md
      - uses: JS-DevTools/npm-publish@v4

