name: publish
on:
  push:
    branches:
      - main
permissions:
  contents: read
  id-token: write
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '22'
      
      - run: npm ci
      - run: npm run coverage
      - run: npm run lint
      - name: Fix README for NPM
        run: sed -i '/#gh-dark-mode-only/d' README.md
      - uses: JS-DevTools/npm-publish@v4

